In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('E:\Learnbay_Assignments\practice.csv')
df.head()

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [3]:
cols = df.columns
print(cols)

Index(['MSSubClass', 'MSZoning', 'LotArea', 'LotShape', 'LotConfig',
       'LandSlope', 'OverallQual', 'YearBuilt', 'MasVnrArea', 'ExterQual',
       'BsmtExposure'],
      dtype='object')

In [4]:
#3.	display size of the data-frame
sz = df.size
print(sz)

330

In [5]:
#4.	rename column MSSubClass -> SubClass, MSZoning -> Zones
df['MSSubClass'].replace('SubClass')

0      60
1      20
2      60
3      70
4      60
5      50
6      20
7      60
8      50
9     190
10     20
11     60
12     20
13     20
14     20
15     45
16     20
17     90
18     20
19     20
20     60
21     45
22     20
23    120
24     20
25     20
26     20
27     20
28     20
29     30
Name: MSSubClass, dtype: int64

In [6]:
#2.	create numerical and categorical columns list
df.select_dtypes(include = 'number')

    MSSubClass  LotArea  OverallQual  YearBuilt  MasVnrArea
0           60     8450            7       2003         196
1           20     9600            6       1976           0
2           60    11250            7       2001         162
3           70     9550            7       1915           0
4           60    14260            8       2000         350
5           50    14115            5       1993           0
6           20    10084            8       2004         186
7           60    10382            7       1973         240
8           50     6120            7       1931           0
9          190     7420            5       1939           0
10          20    11200            5       1965           0
11          60    11924            9       2005         286
12          20    12968            5       1962           0
13          20    10652            7       2006         306
14          20    10920            6       1960         212
15          45     6120            7       1929           0
16          20    11241            6       1970         180
17          90    10791            4       1967           0
18          20    13695            5       2004           0
19          20     7560            5       1958           0
20          60    14215            8       2005         380
21          45     7449            7       1930           0
22          20     9742            8       2002         281
23         120     4224            5       1976           0
24          20     8246            5       1968           0
25          20    14230            8       2007         640
26          20     7200            5       1951           0
27          20    11478            8       2007         200
28          20    16321            5       1957           0
29          30     6324            4       1927           0

In [7]:
df.select_dtypes(include = 'object')

   MSZoning LotShape LotConfig LandSlope ExterQual BsmtExposure
0        RL      Reg    Inside       Gtl        Gd           No
1        RL      Reg       FR2       Gtl        TA           Gd
2        RL      IR1    Inside       Gtl        Gd           Mn
3        RL      IR1    Corner       Gtl        TA           No
4        RL      IR1       FR2       Gtl        Gd           Av
5        RL      IR1    Inside       Gtl        TA           No
6        RL      Reg    Inside       Gtl        Gd           Av
7        RL      IR1    Corner       Gtl        TA           Mn
8        RM      Reg    Inside       Gtl        TA           No
9        RL      Reg    Corner       Gtl        TA           No
10       RL      Reg    Inside       Gtl        TA           No
11       RL      IR1    Inside       Gtl        Ex           No
12       RL      IR2    Inside       Gtl        TA           No
13       RL      IR1    Inside       Gtl        Gd           Av
14       RL      IR1    Corner       Gtl        TA           No
15       RM      Reg    Corner       Gtl        TA           No
16       RL      IR1   CulDSac       Gtl        TA           No
17       RL      Reg    Inside       Gtl        TA          NaN
18       RL      Reg    Inside       Gtl        TA           No
19       RL      Reg    Inside       Gtl        TA           No
20       RL      IR1    Corner       Gtl        Gd           Av
21       RM      Reg    Inside       Gtl        TA           No
22       RL      Reg    Inside       Gtl        Gd           No
23       RM      Reg    Inside       Gtl        TA           No
24       RL      IR1    Inside       Gtl        TA           Mn
25       RL      Reg    Corner       Gtl        Gd           No
26       RL      Reg    Corner       Gtl        TA           Mn
27       RL      Reg    Inside       Gtl        Gd           No
28       RL      IR1   CulDSac       Gtl        TA           Gd
29       RM      IR1    Inside       Gtl        TA           No

In [8]:
df.head()

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [61]:
#4.	rename column MSSubClass -> SubClass, MSZoning -> Zones
df.rename(columns={'MSSubClass' : 'SubClass','MSZoning':'Zones'})

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,18
1,20,RL,9600,Reg,FR2,Gtl,6,1976,-1,TA,Gd,45
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn,20
3,70,RL,9550,IR1,Corner,Gtl,7,1915,-1,TA,No,106
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av,21
5,50,RL,14115,IR1,Inside,Gtl,5,1993,-1,TA,No,28
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av,17
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,TA,Mn,48
8,50,RM,6120,Reg,Inside,Gtl,7,1931,-1,TA,No,90
9,190,RL,7420,Reg,Corner,Gtl,5,1939,-1,TA,No,82
10,20,RL,11200,Reg,Inside,Gtl,5,1965,-1,TA,No,56
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No,16
12,20,RL,12968,IR2,Inside,Gtl,5,1962,-1,TA,No,59
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av,15
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,TA,No,61
15,45,RM,6120,Reg,Corner,Gtl,7,1929,-1,TA,No,92
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,TA,No,51
17,90,RL,10791,Reg,Inside,Gtl,4,1967,-1,TA,NaN,54
18,20,RL,13695,Reg,Inside,Gtl,5,2004,-1,TA,No,17
19,20,RL,7560,Reg,Inside,Gtl,5,1958,-1,TA,No,63
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Gd,Av,16
21,45,RM,7449,Reg,Inside,Gtl,7,1930,-1,TA,No,91
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No,19
23,120,RM,4224,Reg,Inside,Gtl,5,1976,-1,TA,No,45
24,20,RL,8246,IR1,Inside,Gtl,5,1968,-1,TA,Mn,53
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No,14
26,20,RL,7200,Reg,Corner,Gtl,5,1951,-1,TA,Mn,70
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No,14
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,-1,TA,Gd,64
29,30,RM,6324,IR1,Inside,Gtl,4,1927,-1,TA,No,94

In [9]:
#5.	display distinct values for Zoning, LotShape, LotConfig
pd.unique(df[['MSZoning', 'LotShape','LotConfig']].values.ravel('K'))
#The argument 'K' tells the method to flatten the array in the order the elements are stored in the memory (pandas typically stores underlying arrays in Fortran-contiguous order; columns before rows). 
#This can be significantly faster than using the method's default 'C' order.
#or
#np.unique(df[['MSZoning', 'LotShape','LotConfig']].values)

array(['RL', 'RM', 'Reg', 'IR1', 'IR2', 'Inside', 'FR2', 'Corner',
       'CulDSac'], dtype=object)

In [64]:
#6.	display count of distinct values for Zoning, LotShape, LotConfig

#len(set(zip(df['col_a'],df['col_b'])))
#Out[106]: 6

#df.groupby(['col_a', 'col_b']).ngroups
#Out[101]: 6

df.groupby(['MSZoning','LotShape','LotConfig']).ngroups

#len(set(zip(df['MSZoning'],df['LotShape'],df['LotConfig'])))

#pd.unique(df[['MSZoning','LotShape','LotConfig']].count())
#print(len(df[df.MSZoning == 1]['name'].unique()))

11

In [ ]:
#7.max, min of column YearBuilt

maxYrBuilt = df['YearBuilt'].max()
print(maxYrBuilt)
minYrBuilt = df['YearBuilt'].min()
print(minYrBuilt)

In [12]:
#8.	create a new column year _diff. This will be holding difference of current year and YearBuilt
import datetime as datetime
df['year_diff'] = 2021 - df.YearBuilt
df.loc[:,['YearBuilt','year_diff']].head()
#df['year_diff']

   YearBuilt  year_diff
0       2003         18
1       1976         45
2       2001         20
3       1915        106
4       2000         21

In [16]:
#9.	display distinct MSZoning for each OverallQual
df.groupby('OverallQual')['MSZoning'].nunique()

OverallQual
4    2
5    2
6    1
7    2
8    1
9    1
Name: MSZoning, dtype: int64

In [17]:
#10.	What is the maximum LotArea where  BsmtExposure = Mn?
df.groupby('BsmtExposure')['LotArea'].max()

BsmtExposure
Av    14260
Gd    16321
Mn    11250
No    14230
Name: LotArea, dtype: int64

In [28]:
#11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt:descending;
df.sort_values(by=['MSSubClass','YearBuilt'],ascending=(True,False))
#df[df[MSSubClass,YearBuilt]].sort_values('MSSubClass',ascending = True,'YearBuilt',ascending = False)

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No,14
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No,14
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av,15
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av,17
18,20,RL,13695,Reg,Inside,Gtl,5,2004,0,TA,No,17
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No,19
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd,45
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,TA,No,51
24,20,RL,8246,IR1,Inside,Gtl,5,1968,0,TA,Mn,53
10,20,RL,11200,Reg,Inside,Gtl,5,1965,0,TA,No,56
12,20,RL,12968,IR2,Inside,Gtl,5,1962,0,TA,No,59
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,TA,No,61
19,20,RL,7560,Reg,Inside,Gtl,5,1958,0,TA,No,63
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,0,TA,Gd,64
26,20,RL,7200,Reg,Corner,Gtl,5,1951,0,TA,Mn,70
29,30,RM,6324,IR1,Inside,Gtl,4,1927,0,TA,No,94
21,45,RM,7449,Reg,Inside,Gtl,7,1930,0,TA,No,91
15,45,RM,6120,Reg,Corner,Gtl,7,1929,0,TA,No,92
5,50,RL,14115,IR1,Inside,Gtl,5,1993,0,TA,No,28
8,50,RM,6120,Reg,Inside,Gtl,7,1931,0,TA,No,90
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No,16
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Gd,Av,16
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,18
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn,20
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av,21
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,TA,Mn,48
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No,106
17,90,RL,10791,Reg,Inside,Gtl,4,1967,0,TA,NaN,54
23,120,RM,4224,Reg,Inside,Gtl,5,1976,0,TA,No,45
9,190,RL,7420,Reg,Corner,Gtl,5,1939,0,TA,No,82

In [29]:
#12.	What is average OverallQual
df.OverallQual.mean()

6.3

In [30]:
#13.	convert column YearBuilt into date type
pd.to_datetime(df.YearBuilt,format = '%Y')

0    2003-01-01
1    1976-01-01
2    2001-01-01
3    1915-01-01
4    2000-01-01
5    1993-01-01
6    2004-01-01
7    1973-01-01
8    1931-01-01
9    1939-01-01
10   1965-01-01
11   2005-01-01
12   1962-01-01
13   2006-01-01
14   1960-01-01
15   1929-01-01
16   1970-01-01
17   1967-01-01
18   2004-01-01
19   1958-01-01
20   2005-01-01
21   1930-01-01
22   2002-01-01
23   1976-01-01
24   1968-01-01
25   2007-01-01
26   1951-01-01
27   2007-01-01
28   1957-01-01
29   1927-01-01
Name: YearBuilt, dtype: datetime64[ns]

In [34]:
#14.	Group by YearBuilt and find maximum OverallQal
df.groupby('YearBuilt')['OverallQual'].max()

YearBuilt
1915    7
1927    4
1929    7
1930    7
1931    7
1939    5
1951    5
1957    5
1958    5
1960    6
1962    5
1965    5
1967    4
1968    5
1970    6
1973    7
1976    6
1993    5
2000    8
2001    7
2002    8
2003    7
2004    8
2005    9
2006    7
2007    8
Name: OverallQual, dtype: int64

In [65]:
#15.	Load the practice.csv again with MSSubClass as new index
df = pd.read_csv('E:\Learnbay_Assignments\practice.csv')
df.head()

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [42]:
#16.	Convert LotArea as numpy array
#df = pd.DataFrame(data, columns = ['Name','Age','Birth Year','Graduation Year']
#df.to_numpy(df.LotArea)
#number_column = a_dataframe.loc[:,'Numbers']
numLotArea = df.loc[:'LotArea']
num = numLotArea.values
print(num)

[[60 'RL' 8450 'Reg' 'Inside' 'Gtl' 7 2003 196 'Gd' 'No' 18]
 [20 'RL' 9600 'Reg' 'FR2' 'Gtl' 6 1976 0 'TA' 'Gd' 45]
 [60 'RL' 11250 'IR1' 'Inside' 'Gtl' 7 2001 162 'Gd' 'Mn' 20]
 [70 'RL' 9550 'IR1' 'Corner' 'Gtl' 7 1915 0 'TA' 'No' 106]
 [60 'RL' 14260 'IR1' 'FR2' 'Gtl' 8 2000 350 'Gd' 'Av' 21]
 [50 'RL' 14115 'IR1' 'Inside' 'Gtl' 5 1993 0 'TA' 'No' 28]
 [20 'RL' 10084 'Reg' 'Inside' 'Gtl' 8 2004 186 'Gd' 'Av' 17]
 [60 'RL' 10382 'IR1' 'Corner' 'Gtl' 7 1973 240 'TA' 'Mn' 48]
 [50 'RM' 6120 'Reg' 'Inside' 'Gtl' 7 1931 0 'TA' 'No' 90]
 [190 'RL' 7420 'Reg' 'Corner' 'Gtl' 5 1939 0 'TA' 'No' 82]
 [20 'RL' 11200 'Reg' 'Inside' 'Gtl' 5 1965 0 'TA' 'No' 56]
 [60 'RL' 11924 'IR1' 'Inside' 'Gtl' 9 2005 286 'Ex' 'No' 16]
 [20 'RL' 12968 'IR2' 'Inside' 'Gtl' 5 1962 0 'TA' 'No' 59]
 [20 'RL' 10652 'IR1' 'Inside' 'Gtl' 7 2006 306 'Gd' 'Av' 15]
 [20 'RL' 10920 'IR1' 'Corner' 'Gtl' 6 1960 212 'TA' 'No' 61]
 [45 'RM' 6120 'Reg' 'Corner' 'Gtl' 7 1929 0 'TA' 'No' 92]
 [20 'RL' 11241 'IR1' 'CulDSac' 'Gtl' 6 1970 180 'TA' 'No' 51]
 [90 'RL' 10791 'Reg' 'Inside' 'Gtl' 4 1967 0 'TA' nan 54]
 [20 'RL' 13695 'Reg' 'Inside' 'Gtl' 5 2004 0 'TA' 'No' 17]
 [20 'RL' 7560 'Reg' 'Inside' 'Gtl' 5 1958 0 'TA' 'No' 63]
 [60 'RL' 14215 'IR1' 'Corner' 'Gtl' 8 2005 380 'Gd' 'Av' 16]
 [45 'RM' 7449 'Reg' 'Inside' 'Gtl' 7 1930 0 'TA' 'No' 91]
 [20 'RL' 9742 'Reg' 'Inside' 'Gtl' 8 2002 281 'Gd' 'No' 19]
 [120 'RM' 4224 'Reg' 'Inside' 'Gtl' 5 1976 0 'TA' 'No' 45]
 [20 'RL' 8246 'IR1' 'Inside' 'Gtl' 5 1968 0 'TA' 'Mn' 53]
 [20 'RL' 14230 'Reg' 'Corner' 'Gtl' 8 2007 640 'Gd' 'No' 14]
 [20 'RL' 7200 'Reg' 'Corner' 'Gtl' 5 1951 0 'TA' 'Mn' 70]
 [20 'RL' 11478 'Reg' 'Inside' 'Gtl' 8 2007 200 'Gd' 'No' 14]
 [20 'RL' 16321 'IR1' 'CulDSac' 'Gtl' 5 1957 0 'TA' 'Gd' 64]
 [30 'RM' 6324 'IR1' 'Inside' 'Gtl' 4 1927 0 'TA' 'No' 94]]

In [45]:
#17.	In column MasVnrArea replace 0 with -1
df["MasVnrArea"].replace({0:-1}, inplace=True)
print(df)

    MSSubClass MSZoning  LotArea LotShape LotConfig LandSlope  OverallQual  \
0           60       RL     8450      Reg    Inside       Gtl            7
1           20       RL     9600      Reg       FR2       Gtl            6
2           60       RL    11250      IR1    Inside       Gtl            7
3           70       RL     9550      IR1    Corner       Gtl            7
4           60       RL    14260      IR1       FR2       Gtl            8
5           50       RL    14115      IR1    Inside       Gtl            5
6           20       RL    10084      Reg    Inside       Gtl            8
7           60       RL    10382      IR1    Corner       Gtl            7
8           50       RM     6120      Reg    Inside       Gtl            7
9          190       RL     7420      Reg    Corner       Gtl            5
10          20       RL    11200      Reg    Inside       Gtl            5
11          60       RL    11924      IR1    Inside       Gtl            9
12          20       RL    12968      IR2    Inside       Gtl            5
13          20       RL    10652      IR1    Inside       Gtl            7
14          20       RL    10920      IR1    Corner       Gtl            6
15          45       RM     6120      Reg    Corner       Gtl            7
16          20       RL    11241      IR1   CulDSac       Gtl            6
17          90       RL    10791      Reg    Inside       Gtl            4
18          20       RL    13695      Reg    Inside       Gtl            5
19          20       RL     7560      Reg    Inside       Gtl            5
20          60       RL    14215      IR1    Corner       Gtl            8
21          45       RM     7449      Reg    Inside       Gtl            7
22          20       RL     9742      Reg    Inside       Gtl            8
23         120       RM     4224      Reg    Inside       Gtl            5
24          20       RL     8246      IR1    Inside       Gtl            5
25          20       RL    14230      Reg    Corner       Gtl            8
26          20       RL     7200      Reg    Corner       Gtl            5
27          20       RL    11478      Reg    Inside       Gtl            8
28          20       RL    16321      IR1   CulDSac       Gtl            5
29          30       RM     6324      IR1    Inside       Gtl            4

    YearBuilt  MasVnrArea ExterQual BsmtExposure  year_diff
0        2003         196        Gd           No         18
1        1976          -1        TA           Gd         45
2        2001         162        Gd           Mn         20
3        1915          -1        TA           No        106
4        2000         350        Gd           Av         21
5        1993          -1        TA           No         28
6        2004         186        Gd           Av         17
7        1973         240        TA           Mn         48
8        1931          -1        TA           No         90
9        1939          -1        TA           No         82
10       1965          -1        TA           No         56
11       2005         286        Ex           No         16
12       1962          -1        TA           No         59
13       2006         306        Gd           Av         15
14       1960         212        TA           No         61
15       1929          -1        TA           No         92
16       1970         180        TA           No         51
17       1967          -1        TA          NaN         54
18       2004          -1        TA           No         17
19       1958          -1        TA           No         63
20       2005         380        Gd           Av         16
21       1930          -1        TA           No         91
22       2002         281        Gd           No         19
23       1976          -1        TA           No         45
24       1968          -1        TA           Mn         53
25       2007         640        Gd           No         14
26       1951          -1        TA           Mn         70
27       2007         200        Gd           No         14
28       1957          -1        TA           Gd         64
29       1927          -1        TA           No         94

In [49]:
#18.	Check if there is/are any Null values (NaN) in the data given
df.isna().shape[0]

30

In [55]:
#19.	Display percentage of missing values in each column if any
#df.isna().shape[1]/len(df) *100

percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
#missing_value_df.sort_values('percent_missing', inplace=True)
print(missing_value_df)

               column_name  percent_missing
MSSubClass      MSSubClass         0.000000
MSZoning          MSZoning         0.000000
LotArea            LotArea         0.000000
LotShape          LotShape         0.000000
LotConfig        LotConfig         0.000000
LandSlope        LandSlope         0.000000
OverallQual    OverallQual         0.000000
YearBuilt        YearBuilt         0.000000
MasVnrArea      MasVnrArea         0.000000
ExterQual        ExterQual         0.000000
BsmtExposure  BsmtExposure         3.333333
year_diff        year_diff         0.000000

In [56]:
#20.	Select records where LotConfig is Inside
df[df.LotConfig == 'Inside']

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,18
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn,20
5,50,RL,14115,IR1,Inside,Gtl,5,1993,-1,TA,No,28
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av,17
8,50,RM,6120,Reg,Inside,Gtl,7,1931,-1,TA,No,90
10,20,RL,11200,Reg,Inside,Gtl,5,1965,-1,TA,No,56
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No,16
12,20,RL,12968,IR2,Inside,Gtl,5,1962,-1,TA,No,59
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av,15
17,90,RL,10791,Reg,Inside,Gtl,4,1967,-1,TA,NaN,54
18,20,RL,13695,Reg,Inside,Gtl,5,2004,-1,TA,No,17
19,20,RL,7560,Reg,Inside,Gtl,5,1958,-1,TA,No,63
21,45,RM,7449,Reg,Inside,Gtl,7,1930,-1,TA,No,91
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No,19
23,120,RM,4224,Reg,Inside,Gtl,5,1976,-1,TA,No,45
24,20,RL,8246,IR1,Inside,Gtl,5,1968,-1,TA,Mn,53
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No,14
29,30,RM,6324,IR1,Inside,Gtl,4,1927,-1,TA,No,94

In [57]:
#21.	Make a new dataframe with only numeric columns
df2 = df.select_dtypes(include = 'number')
df2.head()

   MSSubClass  LotArea  OverallQual  YearBuilt  MasVnrArea  year_diff
0          60     8450            7       2003         196         18
1          20     9600            6       1976          -1         45
2          60    11250            7       2001         162         20
3          70     9550            7       1915          -1        106
4          60    14260            8       2000         350         21

In [58]:
#22.	Make a new dataframe with only factorial/string columns
df2 = df.select_dtypes(include = 'object')
df2.head()

  MSZoning LotShape LotConfig LandSlope ExterQual BsmtExposure
0       RL      Reg    Inside       Gtl        Gd           No
1       RL      Reg       FR2       Gtl        TA           Gd
2       RL      IR1    Inside       Gtl        Gd           Mn
3       RL      IR1    Corner       Gtl        TA           No
4       RL      IR1       FR2       Gtl        Gd           Av

In [59]:
#23.	Drop column ExterQual
#df.drop(columns =['C', 'D'])
df.drop(['ExterQual'], axis = 1)

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,No,18
1,20,RL,9600,Reg,FR2,Gtl,6,1976,-1,Gd,45
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Mn,20
3,70,RL,9550,IR1,Corner,Gtl,7,1915,-1,No,106
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Av,21
5,50,RL,14115,IR1,Inside,Gtl,5,1993,-1,No,28
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Av,17
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,Mn,48
8,50,RM,6120,Reg,Inside,Gtl,7,1931,-1,No,90
9,190,RL,7420,Reg,Corner,Gtl,5,1939,-1,No,82
10,20,RL,11200,Reg,Inside,Gtl,5,1965,-1,No,56
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,No,16
12,20,RL,12968,IR2,Inside,Gtl,5,1962,-1,No,59
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Av,15
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,No,61
15,45,RM,6120,Reg,Corner,Gtl,7,1929,-1,No,92
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,No,51
17,90,RL,10791,Reg,Inside,Gtl,4,1967,-1,NaN,54
18,20,RL,13695,Reg,Inside,Gtl,5,2004,-1,No,17
19,20,RL,7560,Reg,Inside,Gtl,5,1958,-1,No,63
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Av,16
21,45,RM,7449,Reg,Inside,Gtl,7,1930,-1,No,91
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,No,19
23,120,RM,4224,Reg,Inside,Gtl,5,1976,-1,No,45
24,20,RL,8246,IR1,Inside,Gtl,5,1968,-1,Mn,53
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,No,14
26,20,RL,7200,Reg,Corner,Gtl,5,1951,-1,Mn,70
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,No,14
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,-1,Gd,64
29,30,RM,6324,IR1,Inside,Gtl,4,1927,-1,No,94

In [60]:
#24.	Group data on LotShape and find average LotArea
df.groupby('LotShape')['LotArea'].mean()

LotShape
IR1    11492.307692
IR2    12968.000000
Reg     9085.187500
Name: LotArea, dtype: float64

In [ ]:
#25.	Write code to get a pivot table as shown (average of MSSubClass)